*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Fredoka', sans-serif;
    
}
/* colors
#19555B
#F5FBEF */


/* Navigation Bar */
.navbar .navbar-nav .nav-item a{
    padding: 20px;
}

.navbar .navbar-nav .navBtn{
    padding: 10px;
}


.navBtn{
    border-radius: 50px;
    border-width: 10px;
}
.navBtn:hover{
    background-color: #92AD94;
}

/* end of Navigation Bar */







/* Homepage
body{
    background-color:#C5D8D1 ;
}


#button:hover{
    background-color: #92AD94;
}


#banner{
    position: absolute;
    z-index: -1;
}

#welcome{
    margin: 0px 0px 10px 0;
    padding: 100px 800px 80px 100px
}

#welcome p{
    font-size: 20px;
    font-weight: 400;
}

h1{
    font-family: 'Fredoka', sans-serif;
    font-size: 70px;
    color: #19555B;
}
h2{
    font-family: 'Fredoka', sans-serif;
    font-size: 50px;
    color: #19555B;
}


.card{
    transition: all 0.3s;
    font-size: 10px;
    width: 200px;
    height: 20px;
    border-radius: 10px;
    padding: 15px 25px;
    box-sizing: border-box;
    box-shadow: 5px 5px 10px #19555B;
    cursor: pointer;
    margin: 30px 10px 15px;
    background-position: center;
    background-size: cover
}
.card:hover{
    transform: scale(1.15)
}

.featured {
    height: 120vh;
    display: flex;
    justify-content: space-between;
    
}

#learn-button{
    background-color: #92AD94;
    width: 200px;
    box-shadow: 5px 5px 10px
}

#learn-button:hover{
    background-color: #19555B;
}

#card-button{
    background-color: #92AD94;
    width: 200px;
    box-shadow: 5px 5px 10px
}

#card-button:hover{
    background-color: #19555B;
}

#feat-button{
    background-color: #92AD94;
    box-shadow: 5px 5px 10px
}

#feat-button:hover{
    background-color: #19555B;
}
.left-div {
    display: flex;
    flex-direction: column;
    align-items:flex-start;
    justify-content: center;
    flex-wrap: wrap;
    margin: 50px 0px 0px 120px;
    letter-spacing: 1px;
    font-family: 'Fredoka', sans-serif;
    font-size: 80px;
    color: #19555B;
}

.img-owner {
    height: 80vh;
    width: 30vw;
    
    box-shadow: 15px 15px 30px #19555B,
               -15px -15px 30px #92AD94;
}

footer{
    padding-top: 50px;
    background-color: #92AD94;
}

.footerContainer{
    width: 100%;
    padding: 20px 30px 20px;
}

.socialinks a{
    color: #19555B;
    font-size: 2em;
    text-decoration: none;
    padding: 20px;
    background-color: #C5D8D1;
    margin: 15px;
    border-radius: 100%
}

/* end of Homepage */

/* Aboutpage */

#about-heading{
    width: 90%;
    font-size: large;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    margin: 20px auto;
}

#about-img{
    display: flex;
    justify-content: center;
}

#about-goal{
    width: 90%;
    font-size: large;
    display: flex; 
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    margin: 20px auto;
}

end of Aboutpage

Adopt

#container{
    padding: 50px 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 700px;
    width: 100%;
}

#log{
    margin: 100px;
    width: 30vw;
    height: 50vh;
    border-radius: 20px;
    box-shadow: 1px 1px 20px gray;
}

#log h1{
    padding: 20px 30px 20px 30px ;
    text-align: center
}

#content .field{
    height: 45px;
    width: 80%;
    border: none;
    outline: none;
    border-radius: 30px;
    color: #fff;
    padding: 0 0 0 45px;
    margin-left: 20px;
    margin-bottom: 10px;
    background: rgba(255,255,255,0.5);
}

#link{
    margin-left: 30px;
}

#content .check{
    margin-left: 110px;
}

#content .submit{
    margin-top: 30px;
    margin-left: 100px;
    height: 45px;
    width: 50%;
    border: none;
    outline: none;
    border-radius: 30px;
    background: rgba(255,255,255,0.5);
    cursor: pointer;
}

.submit:hover{
    box-shadow: 1px 3px 10px 1px #19555B;
}

#register{
    margin-left: 75px;
}
/* end of login page */



/* this is for passreset */

.pass{
    padding: 20px 30px 20px 30px ;
    text-align: center
}

.reset{
    height: 15px;
    width: 80%;
    border: none;
    outline: none;
    border-radius: 30px;
    color: #19555B;
    padding: 15px 0px 15px 45px;
    margin: 0px 15px 10px 15px;
    background: rgba(255,255,255,0.5);
}

.go{
    margin-top: 3px;
    margin-left: 100px;
    height: 45px;
    width: 50%;
    border: none;
    outline: none;
    border-radius: 30px;
    background: rgba(255,255,255,0.5);
    cursor: pointer;
}
.go:hover{
    box-shadow: 1px 3px 10px 1px#19555B;
}

.goform{
    margin-left: 28%;
}
/* end of passreset */



/* for Registration */

#reg{
    margin: 100px;
    width: 30vw;
    height: 55vh;
    border-radius: 20px;
    box-shadow: 1px 1px 20px #19555B;
}

#reg h1{
    padding: 20px 30px 20px 30px ;
    text-align: center
}
.infos{
    height: 15px;
    width: 80%;
    border: none;
    outline: none;
    border-radius: 30px;
    color: #19555B;
    padding: 15px 0px 15px 45px;
    margin: 0px 15px 10px 15px;
    background: rgba(255,255,255,0.5);
}

#location{
    background-color: #fff;
    background: rgba(255,255,255,0.5);
    margin-left: 40px;
    border: none;
    border-radius: 30px;
    height: 40px;
    width: 30%
}

.join{
    margin-left: 80px;
    height: 45px;
    width: 30%;
    border: none;
    outline: none;
    border-radius: 30px;

    cursor: pointer;
}

.join:hover{
    box-shadow: 1px 3px 10px 1px #19555B;
}